# 1.Write a python program to display all the header tags from wikipedia.org.

In [1]:
import  requests
from  bs4 import BeautifulSoup

url = requests.get('https://wikipedia.org')
soup = BeautifulSoup(url.text, 'html.parser')
story = soup.find_all(['h1', 'h2'])
for i in story:
    print(i)

<h1 class="central-textlogo-wrapper">
<span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
Wikipedia
</span>
<strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan">The Free Encyclopedia</strong>
</h1>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000 000+
</bdi>
<span class="jsl10n" data-jsl10n="entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
10 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>
<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

# 2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
url="https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating"
page=requests.get(url)
soup=BeautifulSoup(page.content,"html.parser")
#print(soup.prettify())
movie_name=[]
year=[]
rating=[]

movie_data=soup.findAll('div', attrs={'class':'lister-item mode-advanced'})

for store in movie_data:
    name= store.h3.a.text
    movie_name.append(name)
    year_of_relese=store.h3.find('span', class_='lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year.append(year_of_relese)
    
    rate= store.find('div', class_='inline-block ratings-imdb-rating').text.replace('\n', '')
    rating.append(rate)
    
df=pd.DataFrame({'Movie Name': movie_name, 'year of Release' : year, 'Ratings': rating})
df

                                           Movie Name year of Release Ratings
0                                            Jai Bhim            2021     9.4
1                            The Shawshank Redemption            1994     9.3
2                                       The Godfather            1972     9.2
3                                     Soorarai Pottru            2020     9.1
4                                     The Dark Knight            2008     9.0
5                              The Godfather: Part II            1974     9.0
6                                        12 Angry Men            1957     9.0
7       The Lord of the Rings: The Return of the King            2003     8.9
8                                        Pulp Fiction            1994     8.9
9                                    Schindler's List            1993     8.9
10                                          Inception            2010     8.8
11                            Spider-Man: No Way Home            2021     8.8
12                                       Sardar Udham            2021     8.8
13                                         Fight Club            1999     8.8
14  The Lord of the Rings: The Fellowship of the Ring            2001     8.8
15                                       Forrest Gump            1994     8.8
16                    Il buono, il brutto, il cattivo            1966     8.8
17                                  Dara iz Jasenovca            2020     8.7
18                                          Shershaah            2021     8.7
19              The Lord of the Rings: The Two Towers            2002     8.7
20                                         The Matrix            1999     8.7
21                                         Goodfellas            1990     8.7
22     Star Wars: Episode V - The Empire Strikes Back            1980     8.7
23                    One Flew Over the Cuckoo's Nest            1975     8.7
24                                       Gisaengchung            2019     8.6
25                                         Drishyam 2            2021     8.6
26                                       Interstellar            2014     8.6
27                                     Cidade de Deus            2002     8.6
28                      Sen to Chihiro no kamikakushi            2001     8.6
29                                Saving Private Ryan            1998     8.6
30                                     The Green Mile            1999     8.6
31                                    La vita è bella            1997     8.6
32                                              Se7en            1995     8.6
33                           The Silence of the Lambs            1991     8.6
34                                          Star Wars            1977     8.6
35                                            Seppuku            1962     8.6
36                               Shichinin no samurai            1954     8.6
37                              It's a Wonderful Life            1946     8.6
38                                                 96         II 2018     8.5
39                                           Whiplash            2014     8.5
40                                   The Intouchables            2011     8.5
41                                       The Prestige            2006     8.5
42                                       The Departed            2006     8.5
43                                        The Pianist            2002     8.5
44                                          Gladiator            2000     8.5
45                                 American History X            1998     8.5
46                                 The Usual Suspects            1995     8.5
47                                               Léon            1994     8.5
48                                      The Lion King            1994     8.5
49                         Terminator 2: Judgment Day            1991     8.5

# 3.  Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd


url="https://m.imdb.com/list/ls056092300/"
page=requests.get(url)
soup=BeautifulSoup(page.content,"html.parser")
#print(soup.prettify())
movie_name=[]
year=[]
rating=[]

for i in soup.find_all('span', class_="h4"):
    movie_name.append(i.text)
    

for j in soup.find_all('span', class_="nowrap"):
    year.append(j.text)
    
for k in soup.find_all('span', class_="imdb-rating"):
    rating.append(k.text)
rating
year 

movie_name

['1.',
 'Ship of Theseus',
 '2.',
 'Iruvar',
 '3.',
 'Paper Flowers',
 '4.',
 'Lagaan: Once Upon a Time in India',
 '5.',
 'Pather Panchali',
 '6.',
 'Charulata',
 '7.',
 'Rang De Basanti',
 '8.',
 'Dev.D',
 '9.',
 '3 Idiots',
 '10.',
 'Awaara',
 '11.',
 'Nayakan',
 '12.',
 'Aparajito',
 '13.',
 'Pushpaka Vimana',
 '14.',
 'Pyaasa',
 '15.',
 'The Ritual',
 '16.',
 'Sholay',
 '17.',
 'Aradhana',
 '18.',
 'Do Ankhen Barah Haath',
 '19.',
 'Bombay',
 '20.',
 'Neecha Nagar',
 '21.',
 'Do Bigha Zamin',
 '22.',
 'Garm Hava',
 '23.',
 'Piravi',
 '24.',
 'Mughal-E-Azam',
 '25.',
 'Report to Mother',
 '26.',
 'Madhumati',
 '27.',
 'The Adventures of Goopy and Bagha',
 '28.',
 'Gangs of Wasseypur',
 '29.',
 'Guide',
 '30.',
 'Satya',
 '31.',
 'Roja',
 '32.',
 'Mr. India',
 '33.',
 'The Cloud-Capped Star',
 '34.',
 'Harishchandrachi Factory',
 '35.',
 'Masoom',
 '36.',
 'Agneepath',
 '37.',
 'Tabarana Kathe',
 '38.',
 'Zakhm',
 '39.',
 'Dil Chahta Hai',
 '40.',
 'Bhaag Milkha Bhaag',
 '41.',
 'Chupke Chupke',
 '42.',
 'Dilwale Dulhania Le Jayenge',
 '43.',
 'Like Stars on Earth',
 '44.',
 'Ardh Satya',
 '45.',
 'Bhumika',
 '46.',
 'Enthiran',
 '47.',
 'Sadma',
 '48.',
 'A Breath',
 '49.',
 'Lamhe',
 '50.',
 'Haqeeqat',
 '51.',
 'Shree 420',
 '52.',
 'Kannathil Muthamittal',
 '53.',
 'Hum Aapke Hain Koun...!',
 '54.',
 'Ustad Hotel',
 '55.',
 'Bandit Queen',
 '56.',
 'Lakshya',
 '57.',
 'Black Friday',
 '58.',
 'The Churning',
 '59.',
 'Apoorva Raagangal',
 '60.',
 'English Vinglish',
 '61.',
 'Jewel Thief',
 '62.',
 'Pakeezah',
 '63.',
 'Maqbool',
 '64.',
 'Jis Desh Men Ganga Behti Hai',
 '65.',
 'Sahib Bibi Aur Ghulam',
 '66.',
 'The Chess Players',
 '67.',
 'Narthanasala',
 '68.',
 'Chandni Bar',
 '69.',
 'Vaaranam Aayiram',
 '70.',
 'Mr. and Mrs. Iyer',
 '71.',
 'Chandni',
 '72.',
 'English, August',
 '73.',
 'Celluloid',
 '74.',
 'Sagara Sangamam',
 '75.',
 'Munna Bhai M.B.B.S.',
 '76.',
 'Saaransh',
 '77.',
 'Guddi',
 '78.',
 'Vanaja',
 '79.',
 'Vazhakku Enn 18/9',
 '80.',
 'Gangaajal',
 '81.',
 'Angoor',
 '82.',
 'Guru',
 '83.',
 'Andaz Apna Apna',
 '84.',
 'Sangam',
 '85.',
 'The Marginal Ones',
 '86.',
 'Bhuvan Shome',
 '87.',
 'Border',
 '88.',
 'Parineeta',
 '89.',
 'Devdas',
 '90.',
 'Abohomaan',
 '91.',
 'Kuch Kuch Hota Hai',
 '92.',
 'Pithamagan',
 '93.',
 'Veyyil',
 '94.',
 'Chemmeen',
 '95.',
 'Jaane Bhi Do Yaaro',
 '96.',
 'The World of Apu',
 '97.',
 'Kanchivaram',
 '98.',
 'Monsoon Wedding',
 '99.',
 'Black',
 '100.',
 'Deewaar']

# Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp

In [10]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

url='https://meesho.com/bags-ladies/pl/p7vbp'
page=requests.get(url)
soup=BeautifulSoup(page.content)
product_name=[]
for i in soup.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    product_name.append(i.text)
    
#product_name
prices=[]
for j in soup.find_all('h5', class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
    prices.append(j.text)
    
#prices
discount_prices=[]
for k in soup.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm"):
    discount_prices.append(k.text)
#discount_prices


df=pd.DataFrame({'product Name': product_name, 'Price' :prices, 'Discount Prices': discount_prices})
df

,product Name,Price,Discount Prices
0,Women's Sling Handbag/Purse,₹535,₹100 discount on 1st order
1,Handbags,₹260,₹100 discount on 1st order
2,Classic Stylish Women Handbags,₹250,₹100 discount on 1st order
3,Women Faux Leather Solid Handbags,₹230,₹98 discount on 1st order
4,Ravishing Alluring Women Handbags,₹384,₹100 discount on 1st order
5,Handbag5751,₹1180,₹100 discount on 1st order
6,Veebee Women/Girls Multicoloured Handbag,₹445,₹100 discount on 1st order
7,Jute Bottle bag,₹35,₹14 discount on 1st order
8,HANDBAGS,₹203,₹87 discount on 1st order
9,Designer Rajasthani Style handbag Clutch Gifti...,₹210,₹89 discount on 1st order
10,Handbags,₹534,₹100 discount on 1st order
11,Stylish Shoulder Handbag for Women & Girl,₹255,₹100 discount on 1st order
12,handbag,₹282,₹100 discount on 1st order
13,Handbags,₹200,₹85 discount on 1st order
14,STYLISH HANDBAG,₹262,₹100 discount on 1st order
15,Handbags,₹230,₹98 discount on 1st order
16,STYLISH HANDBAG,₹249,₹100 discount on 1st order
17,Stylish Ladies Handbags,₹270,₹100 discount on 1st order
18,Stylish ladies Handbag,₹270,₹100 discount on 1st order
19,Ravishing Classy Women Handbags,₹210,₹89 discount on 1st order

# 5.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.
# 6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [11]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

headers = {
    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"
    }

urls = [
"https://www.icc-cricket.com/rankings/mens/player-rankings/test/batting",
"https://www.icc-cricket.com/rankings/mens/player-rankings/test/bowling",
"https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting",
"https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling",
"https://www.icc-cricket.com/rankings/mens/player-rankings/t20i/batting",
"https://www.icc-cricket.com/rankings/mens/player-rankings/t20i/bowling",
"https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting",
"https://www.icc-cricket.com/rankings/womens/player-rankings/t20i/batting",
"https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling",
"https://www.icc-cricket.com/rankings/womens/player-rankings/t20i/bowling",
]

final_result_file_name = "All Ranking List.csv"
final_column_names = ["Ranking Type", "Position", "Player Name", "Team Name", "Rating", "Career Best Rating", "Crawl URL"]
pd.DataFrame(columns=final_column_names).to_csv(final_result_file_name, sep="\t", index=False, encoding="utf-8")

for url in urls:
    request_object = requests.get(url, headers=headers)
    html_content = request_object.text
    print(request_object.status_code, "->", url)
    soup_object = BeautifulSoup(html_content, "lxml")
    for element in soup_object.select('[class="ranking-pos up"], [class="ranking-pos down"]'):
        element.replace_with(BeautifulSoup("<" + element.name + "></" + element.name + ">", "html.parser"))

    ranking_type = soup_object.select_one(".rankings-block__title-container > h4").text

    result_file_name = ranking_type + ".csv"
    column_names = ["Position", "Player Name", "Team Name", "Rating", "Career Best Rating", "Crawl URL"]
    pd.DataFrame(columns=column_names).to_csv(result_file_name, sep="\t", index=False, encoding="utf-8")

    for element in soup_object.select('table[class="table rankings-table"] tr'):
        if(element.find("th")):
            continue
        data_dict = dict()
        data_dict["Crawl URL"] = url
        data_dict["Ranking Type"] = ranking_type
        if(element.select_one('[class*="position"]')):
            data_dict["Position"] = element.select_one('[class*="position"]').text
        for player_name in (element.select('a[href*="/player-rankings"]')):
            if(player_name.text.strip()):
                data_dict["Player Name"] = player_name.text
        if(element.select_one('[class^="flag-15"]')):
            data_dict["Team Name"] = element.select_one('[class^="flag-15"]')["class"][-1]
        if(element.select_one('[class$="rating"]')):
            data_dict["Rating"] = element.select_one('[class$="rating"]').text
        if(element.select_one('td.u-hide-phablet')):
            data_dict["Career Best Rating"] = element.select_one('td.u-hide-phablet').text
        for key in data_dict.keys():
            data_dict[key] = re.sub(r"\s+", " ", data_dict[key])
            data_dict[key] = data_dict[key].strip()
        pd.DataFrame([data_dict], columns=column_names).to_csv(result_file_name, sep="\t", index=False, header=False, encoding="utf-8", mode="a")
        pd.DataFrame([data_dict], columns=final_column_names).to_csv(final_result_file_name, sep="\t", index=False, header=False, encoding="utf-8", mode="a")

200 -> https://www.icc-cricket.com/rankings/mens/player-rankings/test/batting
200 -> https://www.icc-cricket.com/rankings/mens/player-rankings/test/bowling
200 -> https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting
200 -> https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling
200 -> https://www.icc-cricket.com/rankings/mens/player-rankings/t20i/batting
200 -> https://www.icc-cricket.com/rankings/mens/player-rankings/t20i/bowling
200 -> https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting
200 -> https://www.icc-cricket.com/rankings/womens/player-rankings/t20i/batting
200 -> https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling
200 -> https://www.icc-cricket.com/rankings/womens/player-rankings/t20i/bowling

# 7. Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [14]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd
url='https://coreyms.com/'
page=requests.get(url)
soup=BeautifulSoup(page.content)
heading=[]
for i in soup.find_all('h2', class_="entry-title"):
    heading.append(i.text)
heading
date=[]
for i in soup.find_all('p', class_="entry-meta"):
    date.append(i.text)
date
content=[]
for i in soup.find_all('div', class_="entry-content"):
    content.append(i.text)
content
#y_link=[]
#for i in soup.find_all('div', class_="ytp-title-text"):
   # y_link.append(i.text)

#div_block = article.find("div", class_="entry-content")

    # Paragraph

    #paragraph_content = div_block.find("p").text

    #try:

       # youtube_link = div_block.find("iframe", class_="youtube-player")['src']

       # video_code = youtube_link.split("?")[0].split("/")[-1]

    #except:

       # video_code = "NA"

['\nIn this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…\n\n',
 '\nIn this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…\n\n\n\n',
 '\nHey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube \n',
 '\nIn this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on MacOS – https://youtu.be/06I63_p-2A4\nTimestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on Windows – https://youtu.be/-nh9rCzPJ20\nTimestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42 \n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…\n\n\n\n']

# 8. Write a python program to scrape house details from mentioned URL. It should include house title, location,area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar,Rajaji Nagar.

In [15]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

url='https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMy4wNjk4MjgxLCJsb24iOjc3LjU4OTYwNTQ5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnowVW1UU0lZcmpzUm1CRFhNMnZXS3pzIiwicGxhY2VOYW1lIjoiSW5kcmEgTmFnYXIiLCJzaG93TWFwIjpmYWxzZX0seyJsYXQiOjEyLjkzMDc3MzUsImxvbiI6NzcuNTgzODMwMiwicGxhY2VJZCI6IkNoSUoyZGRsWjVnVnJqc1JoMUJPQWFmLW9ycyIsInBsYWNlTmFtZSI6IkpheWFuYWdhciIsInNob3dNYXAiOmZhbHNlfSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIiwic2hvd01hcCI6ZmFsc2V9XQ=='
page=requests.get(url)
soup=BeautifulSoup(page.content)

House_title=[]
for i in soup.find_all('div', class_="nb__jvFlz"):
    House_title.append(i.text)
#House_title
area=[]
for i in soup.find_all('div', class_="nb__FfHqA"):
    area.append(i.text)
area

emi=[]
for i in soup.find_all('div', class_="nb__2Awq2"):
    emi.append(i.text)
emi
price=[]
for i in soup.find_all('div', class_="nb__4L90a"):
    price.append(i.text)

price

['Under Loan₹ ',
 '2,100 sqftBuiltup',
 '₹27,224/MonthEstimated EMI',
 '₹47.5 Lacs₹2,262 per sq.ft.',
 'Not under loan₹ ',
 '490 sqftBuiltup',
 '₹34,102/MonthEstimated EMI',
 '₹59.5 Lacs₹12,143 per sq.ft.',
 'Not under loan₹ ',
 '1,320 sqftBuiltup',
 '₹73,935/MonthEstimated EMI',
 '₹1.29 Crores₹9,773 per sq.ft.',
 'Not under loan₹ ',
 '2,500 sqftBuiltup',
 '₹1.38 Lacs/MonthEstimated EMI',
 '₹2.41 Crores₹9,640 per sq.ft.',
 'Not under loan₹ ',
 '1,100 sqftBuiltup',
 '₹91,703/MonthEstimated EMI',
 '₹1.6 Crores₹14,545 per sq.ft.',
 'Under Loan₹ ',
 '2,470 sqftBuiltup',
 '₹1.46 Lacs/MonthEstimated EMI',
 '₹2.55 Crores₹10,324 per sq.ft.',
 'Not under loan₹ ',
 '1,985 sqftBuiltup',
 '₹1.15 Lacs/MonthEstimated EMI',
 '₹2 Crores₹10,076 per sq.ft.',
 'Under Loan₹ ',
 '1,645 sqftBuiltup',
 '₹1.15 Lacs/MonthEstimated EMI',
 '₹2 Crores₹12,158 per sq.ft.',
 'Not under loan₹ ',
 '1,320 sqftBuiltup',
 '₹85,971/MonthEstimated EMI',
 '₹1.5 Crores₹11,364 per sq.ft.',
 'Not under loan₹ ',
 '1,316 sqftBuiltup',
 '₹91,703/MonthEstimated EMI',
 '₹1.6 Crores₹12,158 per sq.ft.',
 'Not under loan₹ ',
 '1,985 sqftBuiltup',
 '₹1.13 Lacs/MonthEstimated EMI',
 '₹1.98 Crores₹9,975 per sq.ft.',
 'Under Loan₹ ',
 '2,470 sqftBuiltup',
 '₹1.46 Lacs/MonthEstimated EMI',
 '₹2.55 Crores₹10,324 per sq.ft.',
 'Not under loan₹ ',
 '1,645 sqftBuiltup',
 '₹1.03 Lacs/MonthEstimated EMI',
 '₹1.8 Crores₹10,942 per sq.ft.',
 'Not under loan₹ ',
 '1,645 sqftBuiltup',
 '₹1.2 Lacs/MonthEstimated EMI',
 '₹2.1 Crores₹12,766 per sq.ft.',
 'Not under loan₹ ',
 '1,316 sqftBuiltup',
 '₹72,789/MonthEstimated EMI',
 '₹1.27 Crores₹9,650 per sq.ft.',
 'Not under loan₹ ',
 '1,169 sqftBuiltup',
 '₹38,400/MonthEstimated EMI',
 '₹67 Lacs₹5,731 per sq.ft.',
 'Not under loan₹ ',
 '1,332 sqftBuiltup',
 '₹57,314/MonthEstimated EMI',
 '₹1 Crore₹7,508 per sq.ft.',
 'Under Loan₹ ',
 '1,256 sqftBuiltup',
 '₹29,803/MonthEstimated EMI',
 '₹52 Lacs₹4,140 per sq.ft.',
 'Under Loan₹ ',
 '1,985 sqftBuiltup',
 '₹1.15 Lacs/MonthEstimated EMI',
 '₹2 Crores₹10,076 per sq.ft.',
 'Under Loan₹ ',
 '1,286 sqftBuiltup',
 '₹36,108/MonthEstimated EMI',
 '₹63 Lacs₹4,899 per sq.ft.',
 'Under Loan₹ ',
 '1,320 sqftBuiltup',
 '₹83,106/MonthEstimated EMI',
 '₹1.45 Crores₹10,985 per sq.ft.',
 'Not under loan₹ ',
 '1,598 sqftBuiltup',
 '₹65,911/MonthEstimated EMI',
 '₹1.15 Crores₹7,196 per sq.ft.',
 'Not under loan₹ ',
 '1,900 sqftBuiltup',
 '₹65,911/MonthEstimated EMI',
 '₹1.15 Crores₹6,053 per sq.ft.',
 'Not under loan₹ ',
 '1,575 sqftBuiltup',
 '₹54,448/MonthEstimated EMI',
 '₹95 Lacs₹6,032 per sq.ft.',
 'Under Loan₹ ',
 '1,270 sqftBuiltup',
 '₹34,388/MonthEstimated EMI',
 '₹60 Lacs₹4,724 per sq.ft.']

# 9. Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [16]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

url='https://www.dineout.co.in/delhi-restaurants/buffet-special'
page=requests.get(url)
soup=BeautifulSoup(page.content)
Rating=[]
for i in soup.find_all('div', class_="restnt-rating rating-4"):
    Rating.append(i.text)
    
#Rating
image_url = []

for i in soup.find_all('img',class_="no-img"):

    image_url.append(i.get('data-src'))  
    
#image_url


location=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
     location.append(i.text)
location

cuisine=[]
for i in soup.find_all('div',class_="detail-info"):
     cuisine.append(i.text)
#cuisine

r_name=[]
for i in soup.find_all('div',class_="restnt-info cursor"):
     r_name.append(i.text)
#r_name

df=pd.DataFrame({'Restaurant name':r_name, 'Cuisine' :cuisine, ' Location': location, ' Ratings': Rating,'Image URL':
    image_url})
df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,"Castle BarbequeConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","₹ 1,400 for 2 (approx) | Barbecue, North India...","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","₹ 2,000 for 2 (approx) | Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","₹ 3,000 for 2 (approx) | Multi-Cuisine, North ...","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","₹ 1,800 for 2 (approx) | Barbecue, Chinese, Mu...","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx) | North Indian, Italian...","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","₹ 1,800 for 2 (approx) | Barbecue, North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"₹ 1,600 for 2 (approx) | North Indian, Chinese...","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","₹ 900 for 2 (approx) | North Indian, Chinese, ...","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","₹ 2,200 for 2 (approx) | North Indian, Mughlai...","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","₹ 800 for 2 (approx) | North Indian, Mughlai","Sector 29, Faridabad",3.7,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","₹ 1,500 for 2 (approx) | North Indian, Chinese...","NIT, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"₹ 3,400 for 2 (approx) | Multi-Cuisine, Asian,...","DoubleTree By Hilton Gurugram Baani Square,Sec...",4.1,https://im1.dineout.co.in/images/uploads/resta...

# 10. Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [17]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

page = requests.get("https://www.bewakoof.com/women-tshirts?ga_q=tshirts")

soup=BeautifulSoup(page.content)

# scraping the product name

product_name = [] # creating empty list


for i in soup.find_all('div',class_="productCardDetail")[:10]: 

    product_name.append(i.text)

price=[]
for k in soup.find_all('span',class_="actualPriceText")[:10]:
    price.append(k.text)
#product_name

price

image_url = []

for i in soup.find_all('img',class_="productImgTag")[:10]: 

    image_url.append(i.get('src'))  
df=pd.DataFrame({'product Name': product_name, 'Image URL': image_url})
df

,product Name,Image URL
0,All We Have Half Sleeve T-Shirt Meteor Grey₹ 5...,https://images.bewakoof.com/t320/all-we-have-h...
1,Jerry Relax Half Sleeve Printed T-Shirt (TJL) ...,https://images.bewakoof.com/t320/jerry-relax-h...
2,Chibi Harry Half Sleeve T-Shirt (HPL)₹ 599FEW ...,https://images.bewakoof.com/t320/chibi-harry-h...
3,Climbing pocket panda Half Sleeve T-Shirt₹ 299...,https://images.bewakoof.com/t320/climbing-pock...
4,Bunny Rabbit Pocket Half Sleeve T-Shirt₹ 24959...,https://images.bewakoof.com/t320/bunny-rabbit-...
5,Diagonal Friends Half Sleeves T-Shirt (FRL)₹ 2...,https://images.bewakoof.com/t320/diagonal-frie...
6,Classic Tj Logo Half Sleeve T-Shirt (TJL) Blac...,https://images.bewakoof.com/t320/classic-tj-lo...
7,Nenu Chepta Nuvvu Half Sleeve T-Shirt₹ 599FEW ...,https://images.bewakoof.com/t320/nenu-chepta-n...
8,Butta Bomma Half Sleeve T-Shirt₹ 299599₹269For...,https://images.bewakoof.com/t320/butta-bomma-h...
9,Ooko Bey Half Sleeve T-Shirt₹ 249599₹229For Tr...,https://images.bewakoof.com/t320/ooko-bey-half...